/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #512da8;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.icon {
  float: left;;
  min-width: 50px;
  font-size: 200%;
}

.margined-listed-items > li {
  margin-bottom: 20px;
}

.bulleted-listed-items > li {
  list-style: circle outside;
  font-size: 80%;
  margin-left: 20px;
}

.degree {
  font-size: 80%;
}

.years {
  font-size: 70%;
}

.smaller {
  font-size: 80%;
}

.larger {
  font-size: 130%;
}

.photo {
  max-height: 50px;
  vertical-align: middle;
}

.monospace {
  font-family: monospace;
}

.spacer {
  margin-bottom: 90px;
}

.show-on-small-only {
  display: none;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .spacer {
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 130%;
  }
  .show-on-small-only {
    display: inline;
  }
  .brand-logo {
    text-align: right;
  }
  .smaller-on-small {
    font-size: 80%;
  }
}